body
{
    margin: 0;
    padding: 0;

    background-color: #F1F3F5;
}
p, h2
{
    width: 100%;
    height: auto;

    margin: 0;
    padding: 0;
}



/* 내브 */
nav
{
    width: 100%;
    height: 250px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
}
.nav-container
{
    width: 1300px;
    height: 200px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 좌측 메뉴 */
.leftMenu
{
    width: 900px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: white;
}

/* 강의 정보 */
.cate, .lecTitle, .lecContent { margin-bottom: 5px; }
.cate, .lecContent
{
    font-size: 16px;
    color: #C9C9C9;
}
.lecTitle { font-size: 30px; }

/* 사용자 메뉴 */
.userMenu
{
    width: 100%;
    height: auto;
}

/* 수강 취소 */
.cancelBtn
{
    width: 100px;
    height: 30px;
    margin: 0;
    padding: 0;
    border-radius: 8px;

    border: 1px solid red;
    background-color: red;

    font-size: 16px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    color: white;

    cursor: pointer;
}
.cancelBtn:hover
{
    background-color: white;
    color: red;
}

/* 진도율 */
.progress
{
    width: 100%;
    height: 20px;
    border-radius: 4px;

    background-color: #E2FFEB;
}
.rate
{
    height: 100%;
    padding-right: 10px;
    border-radius: 4px;

    background-color: #68F27C;

    font-size: 12px;
    text-align: right;
    line-height: 20px;
    color: black;
}

/* 강의 등록/수정 */
.prov
{
    display: flex;
    gap: 20px;

    line-height: 30px;
}
.provBtn
{
    width: 150px;
    height: 30px;
    border-radius: 12px;

    border: 1px solid #BAE8B6;
    background-color: #BAE8B6;

    font-size: 16px;

    cursor: pointer;
}
.provBtn:hover { background-color: white; }

/* 썸네일 */
.thumbnail
{
    width: 355px;
    height: 100%;
    border-radius: 8px;

    background-color: #DDE1E4;
    box-shadow: 0 0 20px 10px rgba(221, 225, 228, 0.3);
}
.provBtn.gray:hover
{
    border: 1px solid #cccccc;
    background-color: #cccccc;

    cursor: default;
}



/* 모달 */
.modal
{
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
}
.modalContent
{
    min-width: 300px;
    padding: 20px;
    border-radius: 12px;

    background-color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);

    text-align: center;
}

/* 모달 내부 */
.modalText
{
    font-size: 20px;
    margin-bottom: 20px;
}
.modalBtns
{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.modalBtn
{
    padding: 5px 20px;
    border-radius: 4px;

    border: 1px solid #BAE8B6;
    background-color: #BAE8B6;

    font-size: 16px;

    cursor: pointer;
}
.modalBtn:hover { background-color: white; }
.gray
{
    border: 1px solid #cccccc;
    background-color: #cccccc;
}



/* 섹션 */
section
{
    width: 1300px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;

    background-color: white;
}

/* 섹션 헤더 */
.section-header
{
    width: 100%;
    height: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sectionTitle
{
    width: 80%;
    height: 100%;

    font-size: 24px;
    line-height: 40px;
}
.full
{
    width: 20%;
    height: 100%;

    font-size: 16px;
    text-align: right;
    line-height: 40px;
}
.toggleBtn
{
    width: 150px;
    height: 30px;
    margin-left: 20px;
    border-radius: 8px;
    box-sizing: border-box;

    border: 1px solid #cccccc;
    background: none;

    font-size: 16px;
    text-align: center;
    line-height: 30px;

    cursor: pointer;
}
.toggleBtn:hover { background-color: #f9f9f9; }

/* 목차 */
.partList
{
    width: 100%;
    height: auto;
    margin-top: 10px;
    padding-top: 10px;
    box-sizing: border-box;

    border-top: 1px solid #cccccc;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.part
{
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 8px;
    box-sizing: border-box;

    border: 1px solid #cccccc;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.part:hover { border: 1px solid #00C471; }

/* 목차 정보 */
.partInfo
{
    width: 100%;
    height: 50px;
}
.partTitleWrap
{
    width: 100%;
    height: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.partTitle
{
    width: auto;
    height: 100%;

    font-size: 20px;
    line-height: 30px;
}
.partToggleBtn
{
    width: 30px;
    height: 30px;
    border-radius: 4px;

    border: none;
    background: none;

    font-size: 20px;
    line-height: 30px;

    cursor: pointer;
}
.partToggleBtn:hover { color: #00C471; }
.partIntro
{
    width: 100%;
    height: 20px;

    font-size: 16px;
    line-height: 20px;
    color: #6B6B6B;
}

/* 강좌 */
.classList
{
    width: 95%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.class
{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    padding: 0 20px;
    box-sizing: border-box;

    border: 1px solid #cccccc;
    background: none;

    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
}
.class:hover { background-color: #f9f9f9; }
.wrap
{
    display: flex;
    gap: 20px;
}
.icon
{
    width: 30px;
    height: 30px;
}
.wrap p
{
    width: auto;
    height: 100%;

    font-size: 20px;
    line-height: 30px;
}
.time { color: #707070; }
.classAdd, .classEdit
{
    width: 100px;
    height: 30px;
    border-radius: 8px;

    border: 1px solid #cccccc;
    background: none;

    font-size: 16px;
    text-align: center;
    line-height: 30px;

    cursor: pointer;
}
.classAdd:hover, .classEdit:hover { background-color: #f9f9f9; }
.classEdit { align-self: flex-end; }



/* 목차 없음 */
.index-none
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.index-none-text
{
    width: 100%;
    height: 50px;

    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    color: #5FAF6C;
}
.partAdd
{
    width: 150px;
    height: 40px;
    border-radius: 12px;

    border: 1px solid #00C471;
    background-color: #00C471;

    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    color: white;

    cursor: pointer;
}
.partAdd:hover
{
    background-color: white;
    color: #00C471;
}