<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.lala.Mapper.CategoryAllMapper">
    <select id="categoryAll" resultType="com.example.lala.DTO.Response.Category">


        select interested_id as interestedCategoryId,
               name          as categoryName
        from interested

    </select>

    <!--    <insert id="insertCategory" parameterType="com.example.lala.DTO.Request.CategorySelection">-->
    <!--        INSERT INTO user_interested (user_id, interested_id)-->
    <!--        <foreach collection="interestedId" item="interested" separator="," open="VALUES" close="">-->
    <!--            (#{userId}, #{interested})-->
    <!--        </foreach>-->
    <!--    </insert>-->

    <!--    <select id="findByCategory" resultType="boolean">-->
    <!--        SELECT CASE WHEN COUNT(*) > 0 THEN true ELSE false END-->
    <!--        FROM category_tbl-->
    <!--        WHERE category_name = #{category}-->
    <!--    </select>-->

    <select id="UserSelectCategory" resultType="com.example.lala.DTO.Response.CategoryDetail" parameterType="String">
        <!-- 한 유저의 카테고리-->
        select c.name as categoryName,
        i.name as interestedName,
        i.interested_id as interestedCategoryId
        from category c
        join interested i
        on c.category_id = i.category_id
        join user_interested ui
        on ui.interested_id = i.interested_id
        join user u
        on u.user_id = ui.user_id
        where u.user_id = #{user_id}
    </select>

    <insert id="insertCategory" parameterType="com.example.lala.DTO.Request.CategorySelection">
        INSERT INTO user_interested  (user_id, interested_id)
        <foreach collection="interestedId" item="interested" separator="," open="VALUES" close="">
            (#{userId}, #{interested})
        </foreach>
    </insert>

    <delete id="deleteUserCategories" parameterType="String">
        DELETE FROM user_interested WHERE user_id = #{userId}
    </delete>

</mapper>

